/*
 * Device Tree file for IUNO Prototype Board
 * Copyright (C) 2018 Phoenix Contact
 *
 * based on DTS file for Espressobin Board ((C) by Marvell)
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "armada-372x.dtsi"

/ {
	model = "IUNO Project Prototype Board";
	compatible = "marvell,iuno-prototype", "marvell, armada-3720-community", "marvell,armada3720", "marvell,armada3710";

	chosen {
		/* bootargs needs to be checked for IUNO Prototype Board */
		bootargs = "console=ttyMV0,115200 earlycon=ar3700_uart,0xd0012000 root=/dev/mmcblk0p1 rw rootwait net.ifnames=0 biosdevname=0";
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x20000000>;
	};

	soc {
		internal-regs {
			npinctrl: north-bridge-pinctrl@13830 {
				spi0_pins_1: spi-pins-1 {
					marvell,pins = "mpp17";
					marvell,function = "spi-cs1";
				};
				spi0_pins_2: spi-pins-2 {
					marvell,pins = "mpp18";
					marvell,function = "spi-cs2";
				};
			};
			
			spi0: spi@10600 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&spi0_pins &spi_quad_pins &spi0_pins_1 &spi0_pins_2>;

				tpm_spi_tis@1{
					compatible = "tcg,tpm_spi_tis";
					reg = <1>;	/* Chip Select 1 */
					spi-max-frequency = <20000000>;
				};

				spi_nor_flash: w25q32dw@0 {
					#address-cells = <0x1>;
					#size-cells = <0x1>;
					compatible = "jedec,spi-nor", "st,mp25p128", "spi-flash";
					reg = <0>;      /* Chip Select 0 */
					spi-max-frequency = <0x632ea00>;
					m25p,fast-read;
				};

				rtc: pcf2123@0 {
					#address-cells = <0x1>;
					#size-cells = <0x1>;
					compatible = "nxp,rtc-pcf2123";
					reg = <2>;
					/* spi-max-frequency = <0x5f5e10>; */
					/* spi-cs-high; */
					spi-max-frequency = <104000000>;
				};
			};
			
			uart0: serial@12000 {
				status = "okay";
			};

			i2c0: i2c@11000 {
				status = "okay";
				
				dtt@49 {
					compatible = "adi,ad7414";
					reg = <0x49>;
				};

				/* PCIe switch still to be added here */
			};

			i2c1: i2c@11080 {
				status = "disabled";
			};

			reg_avs: avs@11500 {
				status = "okay";
			};

			eth0: ethernet@30000 {
				phy-mode = "rgmii-id";
				status = "okay";
				buffer-manager = <&bm>;
				bm,pool-long = <1>;
				bm,pool-short = <3>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
			
			eth1: ethernet@40000 {
				phy-mode = "sgmii";
				phys = <&a3700_comphy 0 COMPHY_SGMII0>;
				phy-names = "comphy"; 
				status = "okay";
				buffer-manager = <&bm>;
				bm,pool-long = <1>;
				bm,pool-short = <3>;
				fixed-link {
					/* Here "speed" is set to 1000, GBE MAC is running in 1G mode, */
					/* but the actual MAC speed may be 1 Gbps or 2.5 Gbps, */
					/* it's up to the corresponding SERDES speed in u-boot fdt comphy node. */
					/* If SERDES speed is set to 3.125G in u-boot, it implies sgmii 2.5 Gbps; */
					/* if SERDES speed is set to 1.25G in u-boot, it implies sgmii 1 Gbps. */
					speed = <1000>;
					full-duplex;
				};
			};

			mdio: mdio@32004 {
				ethphy0: ethernet-phy@1 {
					reg = <0x0>;
						
				};

				switch0: switch@1 {
					compatible = "marvell,mv88e6xxx";
					reg = <0x01>; /* PHY addr of switch */
					reset-delay-us = <20000>;
					reset-gpios = <&gpio_sb 0 GPIO_ACTIVE_LOW>;
					cpu-port = <0x5>;
					port-mask = <0x3ff>;
					dsa,member = <0x0 0x0>;

					mdio@0 {
						#address-cells = <1>;
						#size-cells = <0>;

						phy1: phy1@1 {
							reg = <17>;
						};
						phy2: phy2@2 {
							reg = <18>;
						};
						phy3: phy3@3 {
							reg = <19>;
						};
						phy4: phy4@4 {
							reg = <20>;
						};
					};
				};
			};

			u3d@50000 {
				status = "disabled";
				phys = <&a3700_comphy 0 COMPHY_USB3>;
				phy-names = "usb";
			};

			udc@54100 {
				status = "disabled";
				phys = <&utmi_usb32>;
				phy-names = "usb";
			};

			/* neither USB3 nor USB2 used for IUNO Prototype Board */
			usb3@58000 {
				compatible = "generic-xhci";
				status = "disabled";
				/* USB3 not used for IUNO Prototype Board */
			};

			usb@5e000 {
				status = "disabled";
				phys = <&utmi_usb2>;
				phy-names = "usb";
			};

			utmi_usb32: utmi@5d000 {
				status = "disabled";
			};

			utmi_usb2: utmi@5f000 {
				status = "disabled";
			};

			sdhci1: sdhci@d0000 {
				wp-inverted;
				bus-width = <4>;
				cd-gpios = <&gpio_nb 3 GPIO_ACTIVE_LOW>;
				/* change needed here vs. Espressobin ? */
				/* no-1-8-v;
				vqmmc-supply = <&vcc_sd_reg1>; */
				marvell,pad-type = "sd";
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&sdio_pins &cd_pins>;
			};
	
			/* internal fixed mmc */
			sdhci0: sdhci@d8000 {
				non-removable;
				bus-width = <0x8>;
				mmc-ddr-1_8v;
				mmc-hs400-1_8v;
				marvell,pad-type = "fixed-1-8v";
				status = "okay";
			};
	
			/* no sata interface for IUNO Prototype Board
			sata@e0000 {
				phys = <&a3700_comphy 2 COMPHY_SATA0>;
				status = "okay";
			}; */

			vcc_sd_reg1: regulator@0 {
				compatible = "regulator-gpio";
				regulator-name = "vcc_sd1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				gpios = <&gpio_nb 4 GPIO_ACTIVE_HIGH>;
				gpios-states = <0>;
				states = <1800000 0x1
					  3300000 0x0>;

				enable-active-high;
			};

			eip97: eip97@90000 {
				status = "okay";
			};
		};
	};
	dsa@0 {
		compatible = "marvell,dsa";
		dsa,ethernet = <&eth1>;
		dsa,mii-bus = <&mdio>;
		#address-cells = <2>;
		#size-cells = <0>;

		switch@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1 0>;
				cpu-port = <0x5>;
				port-mask = <0x3ff>;
				dsa,member = <0x0 0x0>;
	
				port@1 {
						reg = <1>;
						label = "wan";
						phy-handle = <&phy1>;
				};

				port@2 {
						reg = <2>;
						label = "lan0";
						phy-handle = <&phy2>;
				};

				port@3 {
						reg = <3>;
						label = "lan1";
						phy-handle = <&phy3>;
				};
				
				port@4 {
						reg = <4>;
						label = "lan2";
						phy-handle = <&phy4>;
				};
				
				port@5 {
						reg = <5>;
						label = "cpu";
						ethernet = <&eth1>;
				};
		};
	};
};

/*
&pcie0 {
	status = "okay";
	phys = <&a3700_comphy 1 COMPHY_PCIE0>;
	phy-names = "comphy";
	reset-gpios = <&gpio_sb 3 GPIO_ACTIVE_HIGH>;
}; */
